{% extends 'base.html' %}

{% block title %}
{% if object.list_type == 'O' %}
  Remove Offer from Offer List
{% else %}
  Remove Wish List Item
{% endif %}
{% endblock %}

{% block content %}
{% if object.list_type == 'O' %}
  Remove from Offer List
{% else %}
  Remove Wish List Item
{% endif %}

  <h4>Are you sure you want to remove {{ object.title }}?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Remove" class="button">
    {% if object.list_type == 'O' %}
      <a href="{% url 'offer_details' offer.id %}" class="button">Cancel</a>
    {% else %}
      <a href="{% url 'profile' %}" class="button">Cancel</a>
    {% endif %}
  </form>
{% endblock %}