{% extends 'base.html' %}

{% block title %}
{% if object.list_type == 'O' %}
  Remove Offer from Offer List
{% else %}
  Remove Wish List Item
{% endif %}
{% endblock %}

{% block content %}
{% if object.list_type == 'O' %}
  <h1>Remove from Offer List</h1>
{% else %}
  <h1>Remove Wish List Item</h1>
{% endif %}

<div  class="general-card">
  <h4>Are you sure you want to remove {{ object.title }}?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Remove" class="button">
    {% if object.list_type == 'O' %}
      <a href="{% url 'offer_details' offer.id %}" class="button">Cancel</a>
    {% else %}
      <a href="{% url 'profile' %}" class="button">Cancel</a>
    {% endif %}
  </form>
</div>
{% endblock %}