{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block content %}

<h1>User Details</h1>

<div class="profile-header">
  {% if user_focus.profile.icon %}
    <img src="{{ user_focus.profile.icon }}" class="profile-icon"><br>
  {% else %}
    <img src="https://i.imgur.com/2fs59Xy.png" class="profile-icon"><br>
  {% endif %}
  <div class="card-blurb blurb-center">
    {% if user_focus.id != user.id %}
      <form action="{% url 'message_create' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="receiver" value="{{ user_focus.id }}">
        <input type="submit" value="Send {{ user_focus }} a message">
      </form>
    {% endif %}
  </div>
</div>

<div class="profile-columns">
  <div>
    <h3>Offer List</h3>
      {% if user_offers %}
        {% for offer in user_offers %}
          <div class="offer-card">
            <img src="{{ offer.thumbnail }}">
            <div class="card-blurb blurb-center">
              <p>{{ offer.title }} ({{ offer.year_published }})</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ user_focus }} does not have any games on their Offer List right now.</p>
      {% endif %}
  </div>
  <div>
    <h3>Wish List</h3>
    {% if user_wishes %}
      <div class="wish-list">
        {% for wish in user_wishes %}
          <div>
            {{ wish.title }} ({{ wish.year_published }})<br>
            {{ wish.comment }}
            <hr>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ user_focus }} does not have any games on their Wish List right now.</p>
    {% endif %}
  </div>
</div>


{% endblock %}