{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About TableTopSwap</h1>

<div class="general-card narrow" >
  <p>Welcome to TableTopSwap!</p>
  <p>Have more games than you know what to do with? Is there a game you have always wanted to play?</p>

  <p>Guess what! Lots of other folks are in the same boat! Fortunately, TableTopSwap lets you list the games you have and the games you want. That way folks can find you and make a trade offer!</p>

  <p>Getting started is easy, just <a href="{% url 'games_search' %}">seach for a game</a>, add a comment, choose which list to add it to, and you're all set! Add as many games as you like.</p>

  <p>Now you can search for the games you are looking for amongst all the listed offers, and people will find your offers when they search.</p>

  <p>If you find someone who has a game you want, and they have a game on their wish list that you have, all you have to do is send them a message to arrange a trade!</p>

  <h3>Happy swapping!</h3>
</div>

{% endblock %}