{% extends 'base.html' %}

{% block title %}TableTopCollector{% endblock %}

{% block content %}

<h1>Welcome to TableTopSwap</h1>

<div class="home-search">
  <form action="{% url 'offer_search' %}" method="POST">
    {% csrf_token %}
    <input type='text' name="query" placeholder="Search for an offer...">
    <input type="submit" value="Search" class="button">
  </form>
</div>

{% if offers %}
  <h3>Serch Results</h3>
  <div class="home-container">
    {% for offer in offers %}
      <a href="{% url 'user_page' offer.user.id %}">
        <div class="home-card">
          <img src="{{ offer.thumbnail }}" height="100">
          <div class="card-blurb">
            {{ offer.title }} ({{ offer.year_published}})
            <p>Offered by {{ offer.user }}<p>
          </div>
        </div>
      </a>
    {% endfor %}
  <div>
{% else %}
  <h3>Recent Offers</h3>
  <div class="home-container">
    {% for offer in recent %}
      <a href="{% url 'user_page' offer.user.id %}">
        <div class="home-card">
          <img src="{{ offer.thumbnail }}" height="100">
          <div class="card-blurb">
            {{ offer.title }} ({{ offer.year_published}})
            <p>Offered by {{ offer.user }}<p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}


{% endblock %}