{% extends 'base.html' %}

{% block title %}TableTopCollector{% endblock %}

{% block content %}

<h1>Welcome to TableTopSwap</h1>

<h3>Search Offers</h3>

<form action="{% url 'offer_search' %}" method="POST">
  {% csrf_token %}
  <input type='text' name="query" placeholder="Search for an offer...">
  <input type="submit" value="Search">
</form>

{% if offers %}
  {% for offer in offers %}
    <ul>
      <li>{{ offer.title }} ({{ offer.year_published}})</li>
      <li>{{ offer.user.id }}
    </ul>
  {% endfor %}
{% endif %}

{% endblock %}