{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>Your Profile</h1>

<div class="profile-header">
  {% if user.profile.icon %}
    <img src="{{ user.profile.icon }}" class="profile-icon"><br>
  {% else %}
    <img src="https://i.imgur.com/zTpOPgB.png" class="profile-icon"><br>
  {% endif %}
  <div class="card-blurb blurb-center">
    <a href="{% url 'messages_view' %}" class="button">View Messages</a><br>
    <a href="{% url 'update_profile' %}" class="button">Update your profile</a>
  </div>
</div>
<br>
<a href="{% url 'games_search' %}" class="button">Add games to your lists!</a>

<div class="profile-columns">
  <div>
    <h3>Your Offer List</h3>
    {% if offers %}
      {% for offer in offers %}
        <a href="{% url 'offer_details' offer.id %}">
          <div class="offer-card">
            <img src="{{ offer.thumbnail }}">
            <div class="card-blurb blurb-center">
              <p>{{ offer.title }} ({{ offer.year_published }})</p>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>You do not have any games on your Offer List right now.</p>
    {% endif %}
  </div>
  <div>
    <h3>Your Wish List</h3>

    {% if wishes %}
      <div class="wish-list">
        {% for wish in wishes %}
          <div>
            {{ wish.title }} ({{ wish.year_published }})<br>
            {{ wish.comment }} <a href="{% url 'offer_delete' wish.id %}" class="button">Remove</a>
            <hr>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You do not have any games on your Wish List right now.</p>
    {% endif %}
  </div>


{% endblock %}