html {
  box-sizing: border-box;
  --text: #042A2B; 
  --color2: #EF7B45;
  --color3: #D84727;
  --color4: #88c8d3;
  --bg: #CDEDF6;
  --nav-text: #e2f2f7;
}

body {
  /* background-color: #a8aeb8; */

  background-color: #cdedf6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2394c9d8' fill-opacity='0.18'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-size: 1.1rem;
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas: 
  "nav"
  "main"
  "footer"
  ;
  color: var(--text);
  background-color: var(--bg);
}

input {
  border: 0px;
  padding: 4px 8px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  border-radius: 5px;
}

.input-btn:hover{
  cursor: pointer;
}

button {
  border: 0px;
  padding: 4px 8px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 5px;
}

.button {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  background-color: var(--color2);
  color: var(--nav-text);
  border: 0px;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 0 3px;
}

.button:hover{
  cursor: pointer;
  background-color: var(--color3);
  color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  text-shadow: 0px 0px 10px #0a3c3dc4;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

nav {
  font-family: 'Roboto Slab', serif;
  grid-area: nav;
  background-color: var(--color2);
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.nav-bar {
  margin: 13px 15px;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: var(--nav-text);
  text-shadow: 0px 0px 10px #e2f2f781;
}

.nav-bar a:hover {
  text-shadow: 0px 0px 10px #e2f2f7;
}

.nav-title {
  font-size: 2.2rem;
}

.right-nav{
  margin-right: 0;
  font-size: 1.5rem;
}

.right-nav a{
  margin: 0 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

footer {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  display: flex;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  color: var(--nav-text);
  background-color: var(--color2);
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.general-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px #0a3c3dc4;
  margin: 7px;
  background-color: var(--color4);
  border-radius: 10px;
  padding: 20px;
}

.home-search {
  box-shadow: 0px 0px 15px #0a3c3dc4;
  background-color: var(--color4);
  border-radius: 10px;
  padding: 15px
}

.home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.home-card {
  box-shadow: 0px 0px 15px #0a3c3dc4;
  margin: 7px;
  width: 400px;
  display: flex;
  background-color: var(--color4);
  border-radius: 10px;
  padding: 15px;
}

.home-card:hover {
  box-shadow: 0px 0px 15px #0a3c3dee;
}

.card-blurb{
  padding: 0 0 0 10px;
}

.blurb-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-card{
  margin: 7px;
  display: flex;
  height: 50px;
  width: 600px;
  align-items: center;
  background-color: var(--color4);
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.search-right{
  margin-right: 0;
}

.ammend-card{
  display: flex;
  padding: 15px;
  background-color: var(--color4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.profile-header{
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: var(--color4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.profile-icon{
  border-radius: 100%;
  height: 125px;
  width: 125px;
}

.profile-columns{
  display: flex;
}

.offer-card{
  width: 400px;
  margin: 5px;
  display: flex;
  padding: 15px;
  background-color: var(--color4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.wish-list{
  width: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--color4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

hr {
  border: 2px solid var(--text);
  border-radius: 3px;
}

.messages-container{
  display: flex;
}

.message-column {
  display: flex;
  flex-direction: column;
}

.message-card {
  width: 350px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--color4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a3c3dc4;
}

.message-icon{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.message-header{
  display: flex;
  align-items: center;
}

.message-body{
  width: 320px;
  margin: 2px 0 7px 0;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 10px;
}

.message-actions{
  display: flex;
  justify-content: flex-end;
}

.narrow{
  width: 600px;
}