{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}

<h1>Offer Details</h1>

<h2>{{ offer.title }} ({{ offer.year_published }})</h2>
<img src="{{ offer.image }}" width="400">
<p>Condition: {{ offer.get_condition_display }}</p>
<p>Comments: {{ offer.comment }}</p>

{% if offer.user.id == user.id %}
  <a href="{% url 'offer_update' offer.id %}" class="button">Edit</a>
  <a href="{% url 'offer_delete' offer.id %}" class="button">Delete</a>
{% endif %}

{% endblock %}