{% extends 'base.html' %}

{% block title %}View Messages{% endblock %}

{% block content %}

<h1>View Message</h1>

<div class="messages-container">
  <div class="message-column">
    <h3>Sent Mesages</h3>
    {% if sent_messages %}
      {% for message in sent_messages %}
        <div class="message-card">
          <div>
            <div class="message-header">
              {% if message.sender.profile.icon %}
                <img src="{{ message.sender.profile.icon }}" class="message-icon"><br>
              {% else %}
                <img src="https://i.imgur.com/zTpOPgB.png" class="message-icon"><br>
              {% endif %}
              {% comment %} <img src="{{ message.sender.profile.icon }}" class="message-icon"> {% endcomment %}
              <p>&nbsp;&nbsp;{{ message.sender }}</p>
            </div>
            <div class="message-body">
              <p>{{ message.message }}</p>
            </div>
            <div class="message-actions">
              <a href="{% url 'message_update' message.id %}" class="button">Edit</a>
              <a href="{% url 'message_delete' message.id %}" class="button">Delete</a>
            </div>
          </div>
          {% for reply in message.reply_set.all %}
            <div class="reply-bump">
              <div class="message-header">
                {% if reply.sender.profile.icon %}
                  <img src="{{ reply.sender.profile.icon }}" class="message-icon"><br>
                {% else %}
                  <img src="https://i.imgur.com/zTpOPgB.png" class="message-icon"><br>
                {% endif %}
                {% comment %} <img src="{{ reply.sender.profile.icon }}" class="message-icon"> {% endcomment %}
                <p>&nbsp;&nbsp;{{ reply.sender }}</p>
              </div>
              <div class="message-body reply-width">
                <p>{{ reply.reply }}</p>
              </div>
              {% if reply.sender.id == user.id %}
              <div class="message-actions">
                <a href="{% url 'reply_update' reply.id %}" class="button">Edit</a>
                <a href="{% url 'reply_delete' reply.id %}" class="button">Delete</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% comment %} <form action="{% url 'reply_new' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="message" value="{{ message.id }}">
            <input type='submit' value='Add Reply'>
          </form> {% endcomment %}
          <br>
          <form action="{% url 'reply_create' %}" method="POST">
            {% csrf_token %}
            <input type='text' name="reply">
            <input type="hidden" name="sender" value="{{ user.id }}">
            <input type="hidden" name="message" value="{{ message.id }}">
            <input type='submit' value='Add Reply' class="button">
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>You have no sent messages at the moment.</p>
    {% endif %}
  </div>
  <div class="message-column">
    <h3>Received Mesages</h3>
    {% if received_messages %}
      {% for message in received_messages %}
        <div class="message-card">
          <div>
            <div class="message-header">
              {% if message.sender.profile.icon %}
                <img src="{{ message.sender.profile.icon }}" class="message-icon"><br>
              {% else %}
                <img src="https://i.imgur.com/zTpOPgB.png" class="message-icon"><br>
              {% endif %}
              {% comment %} <img src="{{ message.sender.profile.icon }}" class="message-icon"> {% endcomment %}
              <p>&nbsp;&nbsp;{{ message.sender }}</p>
            </div>
            <div class="message-body">
              <p>{{ message.message }}</p>
            </div>
          </div>
          {% for reply in message.reply_set.all %}
            <div class="reply-bump">
              <div class="message-header">
                {% if reply.sender.profile.icon %}
                  <img src="{{ reply.sender.profile.icon }}" class="message-icon"><br>
                {% else %}
                  <img src="https://i.imgur.com/zTpOPgB.png" class="message-icon"><br>
                {% endif %}
                {% comment %} <img src="{{ reply.sender.profile.icon }}" class="message-icon"> {% endcomment %}
                <p>&nbsp;&nbsp;{{ reply.sender }}</p>
              </div>
              <div class="message-body reply-width">
                <p>{{ reply.reply }}</p>
              </div>
              {% if reply.sender.id == user.id %}
              <div class="message-actions">
                <a href="{% url 'reply_update' reply.id %}" class="button">Edit</a>
                <a href="{% url 'reply_delete' reply.id %}" class="button">Delete</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          <br>
          <form action="{% url 'reply_create' %}" method="POST">
            {% csrf_token %}
            <input type='text' name="reply">
            <input type="hidden" name="sender" value="{{ user.id }}">
            <input type="hidden" name="message" value="{{ message.id }}">
            <input type='submit' value='Add Reply' class="button">
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>You have no received messages at the moment.</p>
    {% endif %}
  </div>
</div>
{% endblock %}