{% extends 'base.html' %}

{% block title %}View Messages{% endblock %}

{% block content %}

<h1>View Message</h1>

<h3>Sent Mesages</h3>

{% if sent_messages %}
  {% for message in sent_messages %}
    <div>
      <p>Sent to: {{ message.receiver }}</p>
      <p>Message: {{ message.message }}</p>
      <a href="{% url 'message_update' message.id %}">Edit</a>
      <a href="{% url 'message_delete' message.id %}">Delete</a>
    </div><br>
    {% for reply in message.reply_set.all %}
      <p>Replier: {{ reply.sender }}</p>
      <p>Reply: {{ reply.reply }}</p>
    {% endfor %}
    <form action="{% url 'reply_new' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="message" value="{{ message.id }}">
      <input type='submit' value='Add Reply'>
    </form>
    
  {% endfor %}
{% else %}
  <p>You have no sent messages at the moment.</p>
{% endif %}

<h3>Received Mesages</h3>

{% if received_messages %}
  {% for message in received_messages %}
    <div>
      <p>Received from: {{ message.sender }}</p>
      <p>Message: {{ message.message }}</p>
    </div><br>
  {% endfor %}
{% else %}
  <p>You have no received messages at the moment.</p>
{% endif %}

{% endblock %}